button {
    color:rgb(139, 108, 68);
    border-radius: 16px;
    background-color:rgb(235, 206, 168);
    padding: 15px;
    border: none  ;
    font-family:'fantasy';
    margin-bottom: auto;

}
body {
    color: rgb(139, 108, 68);
    background-color: antiquewhite;
    text-align:center;
    max-width: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  overflow-wrap: break-word;
  font-size: 15px;
  transition: opacity 0.5s ease; 
}

body.fade-out {
  opacity: 0;
}

  .container 
  {
  width: 100%;
  max-width: 1200px; 
  margin: auto;
  padding: 10px;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}